<launch>

  <!-- Launch the UR robot driver with the specified IP address and calibration file -->
  <include file="$(find ur_robot_driver)/launch/ur5_bringup.launch">
    <arg name="robot_ip" value="192.168.0.100" />
    <!-- 172.17.0.2 192.168.0.100 -->
    <arg name="kinematics_config" value="$(find ur_calibration)/etc/ex-ur5_calibration.yaml" />
  </include>

  <!-- Launch the UR robot MoveIt! configuration -->
  <include file="$(find ur_shobot_moveit_config)/launch/ur_shobot_moveit_planning_execution.launch" />

  <!-- Launch RViz with the MoveIt! configuration -->
  <include file="$(find ur_shobot_moveit_config)/launch/moveit_rviz.launch">
    <arg name="rviz_config" value="$(find ur_shobot_moveit_config)/launch/moveit.rviz" />
  </include>

  <!-- Publish a static transform from amr_link to Top_Body_1 -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="amr_to_top_body_1"
        args="0.0 0.0 0.25 0 0 0 amr_link Top_Body_1" />

  <!-- Publish a static transform from Top_Body_1 to base_link -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="top_body_1_to_base_link"
        args="-0.21 0.0 0.84 0 -1.57 0 Top_Body_1 base_link" />

</launch>
